<style>
    .icon {
        padding-top: 10px;
    }

    .icon .card {
        width: 150px;
        height: 150px;
        padding: 10px 0px 10px 20px;
        border-radius: 50% !important;
        margin: 10px auto;
    }

    .title {
        margin: 20px 0px 10px;
        font-weight: 400;
    }
</style>
<div class="row">
    <div class="col s12 m12 l8 offset-l2">


            <div class="card z-depth-1" style="padding:0px 20% 5% !important;">

                <div class="icon center">
                    <div class="card">
                        <img title="Profile" src="images/forbidden.png" width="110%" style="margin-left:-20px;" />
                    </div>
                    <h5 class=""> <b>Not Found!</b></h5>
                    <h5 class="title">User with username "{{panel.username}}"</h5>
                </div>

                
            </div>
    </div>
</div>


                