<!-- button months -->
<div class="left hide-on-small-only ">
    <a class="waves-effect waves-light btn blue darken-1" href="{{panel.toAdmin()}}"
        title="back to admin">
        <i class="material-icons mirror left">skip_previous</i>Back to Admin</a>
</div>
<span class="right hide-on-small-only" style="padding-top:8px;font-weight: 400;font-size: 16px;"> Joined: {{panel.join}} </span>

<div class="show-on-small hide-on-med-and-up">
    <div class="waves-effect waves-light btn blue darken-1" style="width: 48%;" href="{{panel.toAdmin()}}"
        title="back to admin">
        <i class="material-icons mirror left">skip_previous</i> Back to Admin
    </div>
</div>