<div>
	<!-- bind html -->
	<div class="row" window-size>
		<div class="col s12 m12 l12">
			<div class="card">
				<ul class="collection with-header">
					<li class="collection-header blue lighten-1">
						<h5 class="report-work-title white-text">
              <i class="material-icons left">account_circle</i>
              	{{'project_focal_point' | translate}}

            </h5>
					</li>
					<li class="collection-item avatar">

						<p id="ngm-target_contact" style="padding:10px;">
							{{'select_focal_point_of_your_project_in_the_form_below' | translate}};
						</p>

						<div class="row">
							<div class="col s12 card">
								<div style="padding-top: 10px; padding-bottom: 25px; padding-left: 40px; " ng-init="$contactEdit = false;">
									<div class="col s1 m1 l1" style="margin-top: 25px;">
										<i class="material-icons small" style="color: teal;padding-left: 40px;">account_circle</i>
									</div>
									<div class="input-field col s10 m10 l10">
										<select materialize-select watch class="validate" id="ngm-project_budget_currency"
											ng-model="project.definition.username"
											ng-change="project.updateContactUser(project.definition);$contactEdit = false;"
											ng-disabled="project.definition.project_status === 'complete' || (!$contactEdit && !project.newProject)"
											ng-options="item.username as [ item.name, item.username, item.position, item.phone, item.email ].join(' | ') for item in project.lists.users" required>
											<option value="" disabled selected>Select Focal Point</option>
										</select>
									</div>
									<div class="col s1 m1 l1">
										<div style="margin-top: 20px; margin-left: 20px;">
											<button ng-show="!$contactEdit && !project.newProject" class="btn-floating waves-effect waves-light" ng-click="$contactEdit = true;" ng-disabled="project.definition.project_status === 'complete' " title="Edit">
												<i class="material-icons">create</i>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
