<!-- complete modal -->
<div id="complete-modal" class="modal">
    <div class="modal-content dialog">
        <h4 class="header-modal blue"><i
                class="material-icons left small">info_outline</i>{{'mark_project_as_complete' | translate}}</h4>
        <p>{{'are_you_sure_you_want_to_mark_this_project_as_complete' | translate}}?</p>
    </div>
    <div class="modal-footer">
        <a ng-click="panel.markComplete( panel.project )"
            class=" modal-action modal-close waves-effect waves-green btn">{{'yes_project_complete' | translate}}!</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
</div>

<!-- complete modal -->
<div id="delete-modal" class="modal">
    <div class="modal-content dialog">
        <h4 class="header-modal red lighten-2"><i
                class="material-icons left small">info_outline</i>{{'delete_project' | translate}}</h4>
        <p>{{'are_you_sure_you_want_to_delete_this_project_and_all_its_associated_data' |translate}}?</p>
    </div>
    <div class="modal-footer">
        <a ng-click="panel.deleteProject( panel.project )"
            class=" modal-action modal-close waves-effect waves-red btn">{{'yes_delete_project' | translate}}!</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
</div>


<!-- active modal -->
<div id="active-modal" class="modal">
    <div class="modal-content dialog">
        <h4 class="header-modal blue"><i
                class="material-icons left small">info_outline</i>{{'mark_project_as_active' | translate}}</h4>
        <p>{{'are_you_sure_you_want_to_move_this_project_to_active' | translate}}?</p>
    </div>
    <div class="modal-footer">
        <a ng-click="panel.markActive( panel.project )"
            class=" modal-action modal-close waves-effect waves-green btn">{{'yes_move_project_to_active' | translate}}!</a>
        <a class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l6">
        <a href="#/custom/custom-project/{{ panel.project.report_type_id }}/{{ panel.project.id }}">
            <div class="card small blue-grey darken-1 hoverable">
                <div class="card-image">
                    <img src="images/cluster/details-1.jpg">
                </div>
                <div class="card-content white-text">
                    <p class="card-title">{{'project_plan'|translate}}</p>
                </div>
                <div class="card-action">
                    <a class="left"
                        href="#/custom/custom-project/{{ panel.project.report_type_id }}/{{ panel.project.id }}">{{'go_to_project_plan'|translate}}</a>
                </div>
            </div>
        </a>
    </div>
    <div class="col s12 m12 l6">
        <a href="#/custom/custom-reports/{{ panel.project.id }}">
            <div class="card small blue-grey darken-1 hoverable">
                <div class="card-image">
                    <img src="images/cluster/monthly_report.jpg">
                </div>
                <div class="card-content white-text">
                    <p class="card-title"> {{panel.periode_report}} Progress</p>
                </div>
                <div class="card-action">
                    <a class="left"
                        href="#/custom/custom-reports/{{ panel.project.id }}"> Go To {{panel.periode_report}} Progress </a>
                </div>
            </div>
        </a>
    </div>
</div>

<fieldset ng-if="panel.canEdit" ng-disabled="!panel.canEdit">
    <div class="row" ng-if="panel.project.project_status === 'active'">
        <div class="col s12 m12 l12">
            <div class="widget card-panel white grey-text text-darken-2">
                <!-- submission -->
                <div align="center">
                    <button ng-if="panel.project.admin0pcode !== 'AF'" data-target="complete-modal"
                        class="waves-effect waves-light btn modal-trigger blue" ng-cloak>
                        <i
                            class="material-icons left">assignment_turned_in</i>{{'mark_project_as_complete' | translate}}
                    </button>
                    <button ng-if="panel.project.admin0pcode === 'AF'" data-target="complete-modal"
                        class="waves-effect waves-light btn modal-trigger blue" ng-cloak>
                        <i
                            class="material-icons left">assignment_turned_in</i>{{'mark_activity_plan_as_complete' | translate}}
                    </button>
                    <br />
                    <br />
                    <button ng-if="panel.project.admin0pcode !== 'AF'" data-target="delete-modal"
                        class="waves-effect waves-light btn modal-trigger red lighten-2" ng-cloak>
                        <i class="material-icons left">delete_forever</i>{{'delete_project' | translate}}
                    </button>
                    <button ng-if="panel.project.admin0pcode === 'AF'" data-target="delete-modal"
                        class="waves-effect waves-light btn modal-trigger red lighten-2" ng-cloak>
                        <i class="material-icons left">delete_forever</i>{{'delete_activity_plan' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- project to active -->
    <div class="row" ng-if="panel.project.project_status === 'complete'">
        <div class="col s12 m12 l12">
            <div class="widget card-panel white grey-text text-darken-2">
                <!-- submission -->
                <div align="center">
                    <button ng-if="panel.project.admin0pcode !== 'AF'" data-target="active-modal"
                        class="waves-effect waves-light btn modal-trigger blue" ng-cloak>
                        <i class="material-icons left">assignment_turned_in</i>{{'mark_project_as_active' | translate}}
                    </button>
                    <button ng-if="panel.project.admin0pcode === 'AF'" data-target="active-modal"
                        class="waves-effect waves-light btn modal-trigger blue" ng-cloak>
                        <i
                            class="material-icons left">assignment_turned_in</i>{{'mark_activity_plan_as_active' | translate}}
                    </button>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    // modals
    $(document).ready(function () {
        $('.modal').modal();
    })
</script>