<style>
    .count,
    .label {
        z-index: 1 !important;
    }

    .ng-table th.sortable .sort-indicator {
        color: #2196F3;
        font-weight: 400;
    }

    .pagination li.active {
        background-color: #009688;
    }

    /* Progress Bar */
    .percentage-wrapper {
        display: flex;
        justify-content: center;
        position: relative;

    }

    .percentage-wrapper span {
        line-height: 10px;
    }

    .percentage-wrapper span:last-child {
        position: absolute;
        right: 15px;
        margin-top: 5px;
    }

    .project-progress-bar-wrapper {
        background-color: #ffffff;
        border: 1px solid #4db6ac;
        display: inline-block;
        width: 50px;
        height: 12px;
        border-radius: 4px;
        position: absolute;
        right: 0;

    }

    .project-progress-bar-wrapper .project-progress-bar-inner {
        height: 100%;
        background-color: #4db6ac;
    }

    .color_teal {
        color: #26a69a !important;
    }
    .nav-list-search {
	margin-top: 6px;
	background-color: white;
	width:72px;
	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-o-transition: width 1s ease;
	-ms-transition: width 1s ease;
	transition: width 1s ease;		
}
.nav-list-search.focused {
	margin-top: 6px;
	width: 100%;
	-webkit-transition: width 1s ease;
	-moz-transition: width 1s ease;
	-o-transition: width 1s ease;
	-ms-transition: width 1s ease;
	transition: width 1s ease;
}
.input-field input[type=search] {
	font-weight: 300;
	padding-top: 0px;
}
</style>

<!-- ngTable -->
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card" ng-init="grid = false">
            <ul class="collection with-header">
                <li class="{{ table.headerClass }} collection-header" style="height:80px;">
                    <div class="col s12 m5 l5">
                        <h5 class="report-work-title {{ table.headerText }}">
                            <i class="material-icons left">{{ table.headerIcon }}</i>{{ table.headerTitle }}
                        </h5>
                    </div>
                    <div class="col s3 m7 l7 right" ng-if="showSearch">
                        <nav class="nav-list-search right" ng-class="{'focused':table.search.focused===true || table.search.filter }">
                            <div class="nav-wrapper" ng-click="table.toggleSearch()">
                                <form style="padding: 0px">
                                    <div class="input-field">
                                        <input id="search_{{table.id}}" type="search" ng-model="table.search.filter"
                                            ng-focus="table.search.focused=true" ng-blur="table.search.focused=false"
                                            ng-change="table.searchLoadTable()">
                                        <!-- <label for="search_{{table.id}}">
                    											<i class="material-icons" style="color: teal; padding-left:5px;">search</i>
                    										</label> -->
                                        <label for="search_{{table.id}}" style="top:-10px" class="search">
                                            <i class="material-icons" style="color: teal; padding-left:25px;">search</i>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </div>
                </li>
                <li class="collection-item avatar" style="padding:10px;">

                    <!-- if no data -->
                    <div ng-if="data.length === 0">
                        <div class="label" style="text-align:center; padding-top:20px;">
                            <span>No {{ table.headerTitle }}!</span>
                        </div>
                    </div>

                    <!-- if data -->
                    <div ng-if="data.length" window-size>
                        <table class="centered striped responsive-table" ng-table="table.tableParams">
                            <tr ng-repeat="row in $data" style="cursor: pointer; cursor: hand;">
                                <td data-title="'Organization'" sortable="'organization_name'">
                                    {{ row.organization_name }}
                                </td>
                                <td data-title="'Abbreviation'" sortable="'organization'">
                                    {{ row.organization }}
                                </td>
                                <td data-title="'Type'|translate" sortable="'organization_type'">
                                    {{ row.organization_type }}
                                </td>
                                <td data-title="'Joined'" sortable="'organization_name'">
                                    {{ row.createdAt | date:'mediumDate' }}
                                </td>
                                <td data-title="'Clusters'" >
                                    {{ row.clusters_string   }}
                                </td>
                                <td data-title="'Focal Point Name'" >
                                    {{ row.focal_point_name}}
                                </td>
                                <td data-title="'Email'">
                                    {{ row.email }}
                                </td>
                                <td data-title="'Phone'" >
                                    {{ row.phone}}
                                </td>
                                <td data-title="'Link'">
                                    <a href="#/organization-contact/{{row.id}}"
                                        title="{{'goto'|translate}} Organization Profile" target="_blank">
                                        <i class="material-icons mirror center" style="color:#616161; "
                                            ng-style="($root.rtl) && { 'margin-right':'-80px' } || { 'margin-left':'-80px' }">ic_launch</i>
                                    </a>

                                </td>

                            </tr>
                        </table>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>